fastapi
uvicorn
websockets
requests
numpy
pandas
python-multipart
pydantic
geopandas
pyogrio
fiona
rtree
shapely
earthengine-api
xgboost
scikit-learn
matplotlib
jinja2
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
aiohttp
scipy
rasterio
torch
